label,
input {
    display: block;
}

label {
    @apply text-medium-gray;
}

input {
    @apply h-16 w-72 rounded-xl border border-border-gray px-4 shadow-light-gray outline-primary-color;
}

.field {
    @apply mb-8;
}

.invalid {
    @apply border-2 border-primary-color;
}

.btn-disabled {
    @apply bg-medium-gray shadow-light-gray;
}