@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Sofia Pro', sans-serif;
}

.primary-button {
    @apply h-16 w-64 rounded-full bg-primary-color font-semibold uppercase text-white shadow-light-orange;
}